<form [ngFormModel]="form" (ngSubmit)="signup()">
    <div class="form-group">
        <label for="username">username</label>
        <input id="username"
        type="text"
        class="form-control"
        #username="ngForm">
    <div
    *ngIf="!username.valid"
    class="alert alert-danger">Username is required.</div>
    </div>
    <div class="form-group">
        <label for="password">password</label>
<input id="password"
        type="text"
        class="form-control"
        #passwod="ngForm">
    <div
    *ngIf="!password.valid"
    class="alert alert-danger">Password is required</div>
    </div>
<button class="btn btn-primary" type="submit">
    sign up</buttn>
    </form>